# python
*.py[cod]
__pycache__/

# setuptools
build/
dist/
*.egg-info/

# virtualenv
.venv*/

# pytest
.pytest_cache/

# sphinx
docs/_build/
docs/generated/

# macOS
.DS_Store
Icon?

# editors
.vscode/
*.swp
